networks:
  vlan:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${DOCKER_SUBNET_NETWORK_ID}.0/24
          gateway: ${DOCKER_SUBNET_NETWORK_ID}.254
services:
  web:
    build:
      context: .
      target: runner
    restart: always
    networks:
      vlan:
        ipv4_address: ${DOCKER_SUBNET_NETWORK_ID}.1
    environment:
      NODE_ENV: production
      MAILGUN_API_KEY: ${MAILGUN_API_KEY}
      MAILGUN_DOMAIN: ${MAILGUN_DOMAIN:-mg.neolab.lv}
      CONTACT_EMAIL: ${CONTACT_EMAIL:-info@neolab.lv}
